body{
    background-image:url(../img/alla.JPG);
    background-size: 100%;
    background-attachment:fixed;
    background-color: aqua;
    font-family:URW Chancery L, cursive;
    text-align: center;
    color:#FFF;

    
}

.pisi {
    /* color: royalblue; */
        margin: 36px 22px 50px 22px;
        font-size: 25px;
        color: #fff;
        text-align: center;
        -webkit-animation: glow 1s ease-in-out infinite alternate;
        -moz-animation: glow 1s ease-in-out infinite alternate;
        animation: glow 1s ease-in-out infinite alternate;
      }
      
      @keyframes glow {
        from {
          text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
        }
        to {
          text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
        }
      }



 /* html {
    color: #FFF;
    font-size: 16px;
    font-family: 'Orbitron', sans-serif;
  } */

.qwer {
    text-align:right;
}


.hh {
    @keyframes glow {
        
    }
}
.container {
    display: block;
    margin: 1em auto;
  }
  
  #copyright {
    text-align: center;
    font-size: .8em;
    margin-top: 5em;
  }

  a{
    text-decoration: none;
  }
  
  a:visited{
    color: rgb(117, 109, 109);
  }
  a:hover{
    color:rgb(98, 93, 93);
  }
  button {
    background:none;
    background-color:none;
    color: #FFF;
    text-transform: uppercase;
    width: 200px;
    height: 50px;
    border: none;
    outline: none;
  }
  
  button:hover {
    color: #444;
    transition: color .5s;
    cursor: pointer;
  }
  #time {
    font-size: 5em;
    margin: 3em 0 .5em;
  }
  
  #date {
    font-size: 2em;
    margin-bottom: 1em;
  }
  ul {
    font-size: 1.5em;
    color: rgb(143, 142, 142);
  }
  ul li{
    margin: 1em;
    display: inline-block;
  }
  .glow {
    font-size: 25px;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #b413dc, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #800080, 0 0 40px #800080, 0 0 50px #800080, 0 0 60px #800080, 0 0 70px #800080, 0 0 80px #800080;
    }
  }
/*#e20000*/