body{
    /*background-image:url(../img/backgound1.JPG);*/
    background-size: 100%;
    background-attachment:fixed;
    background-color: rgb(34, 40, 40);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color:#FFF;  
  }
  
  .chat {
    /* color: royalblue; */
        margin: 36px 22px 50px 22px;
        font-size: 25px;
        color: #fff;
        text-align: center;
        text-shadow: 0 0 20px #fff, 0 0 30px #800080, 0 0 40px #800080, 0 0 50px #800080, 0 0 60px #800080, 0 0 70px #800080, 0 0 80px #800080;
}
      
  .link {
    text-align:right;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  
  .clocktext {
    @keyframes glow {
        
    }
  }
  .container {
    display: block;
    margin: 1em auto;
  }
  
  #copyright {
    text-align: center;
    font-size: .8em;
    margin-top: 5em;
  }
  
  a{
    text-decoration: none;
  }
  
  a:visited{
    color: rgb(117, 109, 109);
  }
  a:hover{
    color:rgb(98, 93, 93);
  }
  button {
    background:none;
    background-color:none;
    color: #FFF;
    text-transform: uppercase;
    width: 200px;
    height: 50px;
    border: none;
    outline: none;
  }
  
  button:hover {
    color: #444;
    transition: color .5s;
    cursor: pointer;
  }
  #time {
    font-size: 5em;
    margin: 3em 0 .5em;
  }
  
  #date {
    font-size: 2em;
    margin-bottom: 1em;
  }
  ul {
    font-size: 1.5em;
    color: rgb(143, 142, 142);
  }
  ul li{
    margin: 1em;
    display: inline-block;
  }
.glow {
    font-size: 25px;
    color: #fff;
    text-align: center;
    text-shadow: 0 0 20px #fff, 0 0 30px #800080, 0 0 40px #800080, 0 0 50px #800080, 0 0 60px #800080, 0 0 70px #800080, 0 0 80px #800080;
}
  /*#e20000 первоначальный цвет светящихся часов*/
  